<div class="banner">
  <div class="container">
    <h1>maulid rezki</h1>
    <p>full stack engineer</p>
    <br>
    <br>
    <p><%= link_to "github", "https://github.com/maulidrezki", :target => "_blank", class: "nav-nav"%></p>
    <p><%= link_to "linkedin", "https://www.linkedin.com/in/maulidrezki/", :target => "_blank", class: "nav-nav"%></p>
    <p><%= mail_to "maulidrezki13@gmail.com", 'email', subject: "[Connect] Hi Maulid, let's connect", :target => "_blank", class: "nav-nav" %></p>
    <p><%= link_to "resume", "https://www.dropbox.com/s/k1esilesh2wxbx8/Resume%20Maulid%20Rezki%202022%20-%20Technical.pdf?dl=0", :target => "_blank", class: "nav-nav"%></p>
    <p> <%= link_to "projects", root_path(anchor: "cardhome"), class: "nav-nav" %> </p>
  </div>
</div>

<div class="cards" id="cardhome">
  <% @projects.each do |project| %>
    <%= link_to project, class: "text-decoration-none" do %>
      <div class="card-category">
        <% if project.photos.attached? %>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path project.photos.first.key %>)"><strong><%= project.name%></strong>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
