<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluidd">
    <%= link_to "back", root_path, class: "nav-link nav-font" %>
  </div>
</div>

<div class="containershow">
  <div class="container-projectshow">
    <h5><%= @project.name%></h5>
    <p class="fs-6"><%=link_to @project.url, @project.url, :target => "_blank", class: "nav-url"%></p>
    <br>
    <br>
    <p><%= @project.stacks%></p>
    <% if @project.photos.attached? %>
      <div class="card-category" style="background-image: url(<%= cl_image_path @project.photos.first.key, class:"img-fluid my-3"%>)"></div>
    <% end %>
  </div>
</div>
