<div class="container">
  <div class="container-project">
    <h5><%= @project.name%></h5>
    <p><%=@project.url%></p>
    <br>
    <p><%= @project.description%></p>
    <br>
    <p><%= @project.stacks%></p>
    <% if @project.photos.attached? %>
      <div class="card-category" style="background-image: url(<%= cl_image_path @project.photos.first.key %>)"></div>
    <% end %>
  </div>
</div>
